/* Reset CSS por Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
embed, figure, figcaption,
footer, header, hgroup,
menu, nav, output,
ruby, section,
summary {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote {
quotes: none;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calculadora {
  display: grid;
  background-color: rgb(32, 48, 141);
  padding: 10px;
  border: 1px solid black;
}

.calculadora div {
  background-color: #ffffff;
  border: 1px solid rgb(3, 0, 0);
  padding: 10px;
  font-size: 30px;
  text-align: end ;
}

.area-botao {
  display: grid ;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px ;
  padding: 20px ;
}

.botao-zero {
  grid-column: span 2;
}

